{% set bootstrap_classes = {
    'success': 'success',
    'error': 'danger',
    'warning': 'warning',
    'info': 'info',
    'danger': 'danger'
} %}
<div class="row">
    <div class="col-12 col-md-11 mx-auto my-3"> <!-- Utilisation de col-12 pour les petits écrans -->
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div role="alert" class="alert alert-dismissible fade show alert-{{ bootstrap_classes[label] }} shadow-lg p-4 mb-4 rounded">
                    <div class="d-flex align-items-center justify-content-between flex-wrap"> <!-- Ajout de flex-wrap pour gérer les petits écrans -->
                        <div class="d-flex align-items-center flex-wrap"> <!-- Ajout de flex-wrap ici aussi -->
                            <div class="alert-icon" style="margin-right: 15px;">
                                {% if label == 'success' %}
                                    <i class="bi bi-check-circle-fill text-success" style="font-size: 1.5rem;"></i>
                                {% elseif label == 'warning' %}
                                    <i class="bi bi-exclamation-triangle-fill text-warning" style="font-size: 1.5rem;"></i>
                                {% elseif label == 'info' %}
                                    <i class="bi bi-info-circle-fill text-info" style="font-size: 1.5rem;"></i>
                                {% else %}
                                    <i class="bi bi-x-circle-fill text-danger" style="font-size: 1.5rem;"></i>
                                {% endif %}
                            </div>
                            <div class="alert-text flex-grow-1">
                                <span>{{ message | raw }}</span>
                            </div>
                        </div>
                        <button type="button" style="color: black; font-size: 1.5rem; background: none; border: none;" data-bs-dismiss="alert" aria-label="Close">
                            &times;
                        </button>
                    </div>
                </div>
            {% endfor %}
        {% endfor %}
    </div>
</div>
