{% extends 'base.html.twig' %}

{% block title %}À Propos
{% endblock %}

{% block body %}

	<style>
		.container {
			max-width: 800px;
			margin: 30px auto;
			padding: 20px;
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
		}

		h1 {
			text-align: center;
		}

		h2 {
			color: #333;
			margin-top: 20px;
		}

		p {
			margin: 10px 0;
		}

		a {
			color: #007BFF;
			text-decoration: none;
		}

		a:hover {
			text-decoration: underline;
		}
	</style>

	<h1>À Propos</h1>
		<div class="container">
		<h2>Qu'est-ce que Amyaz ?</h2>
		<p>
		Amyaz est une plateforme dédiée à la préservation et à la promotion de la langue rifaine, parlée par des millions de personnes dans la région du Rif au Maroc.<br>Notre mission est de fournir un outil accessible à tous, pour faciliter l'apprentissage et l'utilisation du rifain, tout en aidant à préserver cette langue riche et unique.
		Amyaz signifie littéralement <strong>« comme le yaz »</strong>.<br>Le yaz, écrit <strong>ⵣ</strong>, est une lettre de l’alphabet berbère et est l’un des symboles de l’identité berbère car cette lettre incarne un homme libre. Cette lettre se retrouve dans le drapeau berbère.
		</p>

<img src="/img/flag_berbere.png" class="d-block mb-3" style="width: 80px;" alt="drapeau berbere">

  <p class="mt-5">Voici ce que nous offrons :</p>
            <ul>
                <li><strong>Dictionnaire Rifain-Français-Anglais</strong> : Trouvez les traductions de mots rifains vers le français et l'anglais, et vice versa. Notre base de données est constamment mise à jour pour inclure de nouveaux termes et expressions.</li>
                <li><strong>Documentation et Ressources</strong> : Accédez à une vaste bibliothèque de documents sur la grammaire rifaine, des fiches de vocabulaire, et des méthodes d'apprentissage de l'alphabet rifain.</li>
                <li><strong>Soumission de Demandes de Traduction</strong> : Si vous ne trouvez pas un mot ou une expression spécifique, vous pouvez soumettre une demande de traduction. Notre équipe de linguistes et de traducteurs se chargera de trouver la meilleure équivalence possible.</li>
                <li><strong>Aide Touristique</strong> : Pour les voyageurs visitant le Rif, Amyaz propose des guides pratiques pour communiquer efficacement avec les habitants et découvrir la culture locale.</li>
            </ul>
        </section>
        <section>
            <h2>Pourquoi choisir Amyaz ?</h2>
            <ul>
                <li><strong>Accessibilité pour Tous</strong> : Amyaz est conçu pour être facile à utiliser par tout le monde, que vous soyez un locuteur natif, un étudiant en langues, ou un touriste.</li>
                <li><strong>Préservation Linguistique</strong> : En utilisant et en contribuant à Amyaz, vous participez à la préservation de la langue rifaine pour les générations futures.</li>
                <li><strong>Communauté et Partage</strong> : Rejoignez une communauté d'utilisateurs passionnés par le rifain. Partagez vos connaissances, posez des questions, et apprenez des autres.</li>
            </ul>
        </section>
        <section>
            <h2>Comment Utiliser Amyaz ?</h2>
            <ul>
                <li><strong>Recherche de Mots</strong> : Utilisez notre barre de recherche pour trouver des traductions de mots et d'expressions.</li>
                <li><strong>Consulter la Documentation</strong> : Parcourez nos ressources pédagogiques pour améliorer votre maîtrise du rifain.</li>
                <li><strong>Soumettre une Demande</strong> : Utilisez le formulaire de soumission pour demander des traductions spécifiques que vous ne trouvez pas dans notre base de données.</li>
            </ul>
        </section>

	</div>
{% endblock %}
