{% extends 'base.html.twig' %}

{% block title %}Legal Notice{% endblock %}

{% block body %}

<style>
    .container {
        max-width: 800px;
        margin: 30px auto;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    h1 {
        text-align: center;
    }

    h2 {
        color: #333;
        margin-top: 20px;
    }

    p {
        margin: 10px 0;
    }

    a {
        color: #007BFF;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }
</style>

<h1>Legal Notice</h1>
<div class="container">
    <p>
        <strong>Effective as of 07/29/2024</strong>
    </p>
    <p>
        In accordance with the provisions of Law No. 2004-575 of June 21, 2004 for Confidence in the Digital Economy, 
        users and visitors, hereinafter referred to as the "User", of the site <strong>amyaz.fr</strong>, 
        hereinafter referred to as the "Site", are informed of the following legal notice.
    </p>
    <p>
        Connecting to and browsing the Site by the User implies full and unconditional acceptance of this legal notice. 
        This notice is accessible on the Site under the section "Legal Notice".
    </p>
    <h2>Site Publication</h2>
    <p>
        The publication and editorial management of the Site is provided by Massin Amghar, whom you can contact at the email address:
        <a href="mailto:contact@amyaz.fr">contact@amyaz.fr</a>.
    </p>
    <h2>Hosting</h2>
    <p>
        The Site is hosted by the company <strong>Hostinger</strong>, whose head office is located at at 61 Lordou Vironos Street, 6023 Larnaca, Chypre.
    </p>
    <h2>Site Access</h2>
    <p>
        The Site is normally accessible to the User at any time. However, the Publisher may suspend, limit, or interrupt access to the Site at any time 
        to carry out updates or modifications to its content. The Publisher cannot be held responsible for any consequences of this unavailability on the 
        User's activities.
    </p>
    <h2>Data Collection</h2>
    <p>
        The Site ensures that the User's personal data is collected and processed in compliance with privacy rights, in accordance with Law No. 78-17 of January 6, 1978 
        concerning Information Technology, Files, and Civil Liberties, and in compliance with applicable regulations on personal data processing in accordance with 
        Regulation (EU) 2016/679 of the European Parliament and of the Council of April 27, 2016 (together, hereinafter referred to as the "Applicable Personal Data Protection Regulations").
    </p>
    <p>
        Under the Applicable Personal Data Protection Regulations, the User has the right to access, rectify, delete, and oppose the processing of their personal data. 
        The User can exercise this right by sending an email to: 
        <a href="mailto:contact@amyaz.fr">contact@amyaz.fr</a>
    </p>
    <h2>Intellectual Property</h2>
    <p>
        Any use, reproduction, distribution, commercialization, or modification of all or part of the Site without the express authorization of the Publisher 
        is prohibited and may result in legal actions and prosecutions as provided by the applicable regulations.
    </p><br>
    <p>This site is protected by reCAPTCHA and the Google Privacy Policy and Terms of Service apply.
</p>
</div>
{% endblock %}
