{% extends 'base.html.twig' %}

{% block title %}Mentions Légales
{% endblock %}

{% block body %}

	<style>
		.container {
			max-width: 800px;
			margin: 30px auto;
			padding: 20px;
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
		}

		h1 {
			text-align: center;
		}

		h2 {
			color: #333;
			margin-top: 20px;
		}

		p {
			margin: 10px 0;
		}

		a {
			color: #007BFF;
			text-decoration: none;
		}

		a:hover {
			text-decoration: underline;
		}
	</style>

	<h1>Mentions Légales</h1>
	<div class="container">
		<p>
			<strong>En vigueur au 29/07/2024</strong>
		</p>
		<p>
			Conformément aux dispositions de la loi n°2004-575 du 21 juin 2004 pour la Confiance en l’économie numérique, 
						            il est porté à la connaissance des utilisateurs et visiteurs, ci-après l' "Utilisateur", du site
			<strong>amyaz.fr</strong>, 
								            ci-après le "Site", les présentes mentions légales.
		</p>
		<p>
			La connexion et la navigation sur le Site par l’Utilisateur implique acceptation intégrale et sans réserve des présentes mentions légales. 
						            Ces dernières sont accessibles sur le Site à la rubrique "Mentions légales".
		</p>
		<h2>Édition du Site</h2>
		<p>
			L’édition et la direction de la publication du Site est assurée par Monsieur Lamkadem que vous pouvez contacter à l'adresse e-mail :
			<a href="mailto:contact@amyaz.fr">contact@amyaz.fr</a>.
		</p>
		<h2>Hébergeur</h2>
		<p>
			L'hébergeur du Site est la société
			<strong>viaduc</strong>, dont le siège social est situé au 5 bis bd Foch, 49100 Angers.
		</p>
		<h2>Accès au Site</h2>
		<p>
			Le Site est normalement accessible, à tout moment, à l'Utilisateur. Toutefois, l'Editeur pourra, à tout moment, suspendre, limiter ou interrompre le Site afin de procéder, 
						            notamment, à des mises à jour ou des modifications de son contenu. L'Editeur ne pourra en aucun cas être tenu responsable des conséquences éventuelles de cette 
						            indisponibilité sur les activités de l'Utilisateur.
		</p>
		<h2>Collecte des données</h2>
		<p>
			Le Site assure à l'Utilisateur une collecte et un traitement des données personnelles dans le respect de la vie privée conformément à la loi n°78-17 du 6 janvier 1978 relative 
						            à l'informatique, aux fichiers et aux libertés et dans le respect de la réglementation applicable en matière de traitement des données à caractère personnel conformément 
						            au règlement (UE) 2016/679 du Parlement européen et du Conseil du 27 avril 2016 (ci-après, ensemble, la "Réglementation applicable en matière de protection des Données 
						            à caractère personnel").
		</p>
		<p>
			En vertu de la Réglementation applicable en matière de protection des Données à caractère personnel, l'Utilisateur dispose d'un droit d'accès, de rectification, de suppression 
						            et d'opposition de ses données personnelles. L'Utilisateur peut exercer ce droit : par mail à l'adresse email
			<a href="mailto:contact@amyaz.fr">contact@amyaz.fr</a>
		</p>
		<h2>Propriété intellectuelle</h2>
		<p>
			Toute utilisation, reproduction, diffusion, commercialisation, modification de toute ou partie du Site, sans autorisation expresse de l’Editeur est prohibée et pourra entraîner 
						            des actions et poursuites judiciaires telles que prévues par la réglementation en vigueur.
		</p>
	</div>
{% endblock %}
