{% extends 'base.html.twig' %}

{% block title %}Amyaz - Learning{% endblock %}

{% block body %}

      <div class="container">
          <div class="table-responsive">
          <h1 class="text-left display-4">The Traditional Berber Alphabet: Tifinagh</h1>
          <p class="text-left lead">Tifinagh is an ancient writing system used since antiquity in North Africa. However, the area of use of this script has significantly reduced over the centuries. Tifinagh has survived among the Tuareg Berbers, who were the only ones, until very recently, to use this ancient script.</p>
          <p class="text-left lead">Today, Tifinagh is the official script used by Moroccan institutions to write Berber. The Tifinagh used in Morocco is, however, somewhat different from the Tifinagh used by the Tuaregs. Indeed, in an effort to standardize Tifinagh, the Royal Institute of Amazigh Culture developed a neo-Tifinagh, called Tifinagh-Ircam, heavily inspired by the ancient script.</p>
        </div>
      </div>

      <div class="container mt-5">

   <table class="table table-striped table-bordered text-center">
        
      <thead class="thead-dark">
          <tr>
            <th scope="col">Tifinagh</th>
            <th scope="col">Name in French</th>
            <th scope="col">Phonetic Value</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>ⴰ</td>
            <td>ya</td>
            <td>a</td>
          </tr>
          <tr>
            <td>ⴱ</td>
            <td>yab</td>
            <td>b</td>
          </tr>
          <tr>
            <td>ⴷ</td>
            <td>yad</td>
            <td>d</td>
          </tr>
          <tr>
            <td>ⴹ</td>
            <td>yadd</td>
            <td>ḍ (pronounced like "ض" in Arabic)</td>
          </tr>
          <tr>
            <td>ⴻ</td>
            <td>yey</td>
            <td>e</td>
          </tr>
          <tr>
            <td>ⴼ</td>
            <td>yaf</td>
            <td>f</td>
          </tr>
          <tr>
            <td>ⴳ</td>
            <td>yag</td>
            <td>g</td>
          </tr>
          <tr>
            <td>ⴳⵯ</td>
            <td>yagw</td>
            <td>ɡʷ</td>
          </tr>
          <tr>
            <td>ⵀ</td>
            <td>yah</td>
            <td>h</td>
          </tr>
          <tr>
            <td>ⵃ</td>
            <td>yahh</td>
            <td>ḥ (pronounced like "ح" in Arabic)</td>
          </tr>
          <tr>
            <td>ⵉ</td>
            <td>yi</td>
            <td>i</td>
          </tr>
          <tr>
            <td>ⵊ</td>
            <td>yaj</td>
            <td>j</td>
          </tr>
          <tr>
            <td>ⴽ</td>
            <td>yak</td>
            <td>k</td>
          </tr>
          <tr>
            <td>ⴽⵯ</td>
            <td>yakw</td>
            <td>kʷ</td>
          </tr>
          <tr>
            <td>ⵍ</td>
            <td>yal</td>
            <td>l</td>
          </tr>
          <tr>
            <td>ⵎ</td>
            <td>yam</td>
            <td>m</td>
          </tr>
          <tr>
            <td>ⵏ</td>
            <td>yan</td>
            <td>n</td>
          </tr>
          <tr>
            <td>ⵇ</td>
            <td>yaq</td>
            <td>q (pronounced like "ق" in Arabic)</td>
          </tr>
          <tr>
            <td>ⵔ</td>
            <td>yar</td>
            <td>r</td>
          </tr>
          <tr>
            <td>ⵕ</td>
            <td>yarr</td>
            <td>ṛ</td>
          </tr>
          <tr>
            <td>ⵙ</td>
            <td>yas</td>
            <td>s</td>
          </tr>
          <tr>
            <td>ⵚ</td>
            <td>yass</td>
            <td>ṣ</td>
          </tr>
          <tr>
            <td>ⵜ</td>
            <td>yat</td>
            <td>t</td>
          </tr>
          <tr>
            <td>ⵟ</td>
            <td>yatt</td>
            <td>ṭ (pronounced like "ط" in Arabic)</td>
          </tr>
          <tr>
            <td>ⵓ</td>
            <td>you</td>
            <td>ou</td>
          </tr>
          <tr>
            <td>ⵡ</td>
            <td>yaw</td>
            <td>w</td>
          </tr>
          <tr>
            <td>ⵢ</td>
            <td>yay</td>
            <td>y</td>
          </tr>
          <tr>
            <td>ⵣ</td>
            <td>yaz</td>
            <td>z</td>
          </tr>
          <tr>
            <td>ⵥ</td>
            <td>yazz</td>
            <td>ẓ</td>
          </tr>
          <tr>
            <td>ⵛ</td>
            <td>yach</td>
            <td>ch (pronounced like "ش" in Arabic)</td>
          </tr>
          <tr>
            <td>ⵖ</td>
            <td>yagh</td>
            <td>ɣ (pronounced like "غ" in Arabic)</td>
          </tr>
          <tr>
            <td>ⵄ</td>
            <td>yaa</td>
            <td>ɛ (pronounced like "ع" in Arabic)</td>
          </tr>
          <tr>
            <td>ⵅ</td>
            <td>yakh</td>
            <td>x (pronounced like "خ" in Arabic)</td>
          </tr>
        </tbody>
      </table>
      </div>

        <div class="container">
          <p class="text-left lead">To learn the pronunciation of the letters of the Berber alphabet, check out the YouTube links below: </p>
          <p class="text-left lead">1 - <a href="https://www.youtube.com/watch?v=ASkEo4Y9IEI" target="_blank">ⵉⵙⴽⴽⵉⵍⵏ ⵏ ⵜⵎⴰⵣⵉⵖⵜ - #Amazigh #alphabet - الحروف #الامازيغية</a></p>
          <p class="text-left lead">2 - <a href="https://www.youtube.com/watch?v=nQHywQialCY" target="_blank">تعلم حروف تيفيناغ بالصوت والصورة</a></p>
          <p class="text-left lead">3 - <a href="https://www.youtube.com/watch?v=1TiQ_VymkvU" target="_blank">Tifinagh - Amazigh Alphabet</a></p>
        </div>
        </div>
{% endblock %}
