{% extends 'base.html.twig' %}

{% block title %}
    Ajout d'un verbe
{% endblock %}

{% block body %}
    <style>
        .form-box {
            width: 100%;
            max-width: 500px;
            margin: 0 auto;
            padding: 40px;
            background: rgba(0, 0, 0, 0.5);
            box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
            border-radius: 10px;
        }

        @media(min-width: 768px) {
            .form-box {
                max-width: 40%;
            }
        }

        .form-box h1 {
            margin: 0 0 30px;
            padding: 0;
            color: #fff;
            text-align: center;
        }

        .form-box .user-box {
            position: relative;
            margin-bottom: 30px;
        }

        .form-box .user-box input {
            width: 100%;
            padding: 10px 0;
            font-size: 16px;
            color: #fff;
            margin-bottom: 30px;
            border: none;
            border-bottom: 1px solid #fff;
            outline: none;
            background: transparent;
            transition: border-color 0.3s, background-color 0.3s;
        }

        .form-box .user-box input:hover {
            border-bottom: 1px solid #03e9f4;
        }

        .form-box .user-box label {
            position: absolute;
            top: 0;
            left: 0;
            padding: 10px 0;
            font-size: 16px;
            color: #fff;
            pointer-events: none;
            transition: 0.5s;
        }

        .form-box .user-box input:focus ~ label,
        .form-box .user-box input:valid ~ label {
            top: -20px;
            left: 0;
            color: #03e9f4;
            font-size: 12px;
        }

        .form-box button {
            background: none;
            border: none;
            color: #fff;
            padding: 10px 20px;
            font-size: 16px;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        .form-box button:hover {
            color:black;
        }
    </style>

    <div class="form-box">
        <h1 class="h3 mb-3 font-weight-normal">Ajouter un Verbe Rifain</h1>

        <form action="{{ path('alimenter_verbes') }}" method="post">
            <div class="user-box">
                <input type="text" id="verbe_rifain" name="verbe_rifain" required>
                <label for="verbe_rifain">Verbe Rifain :</label>
            </div>

            <div class="user-box">
                <input type="text" id="verbe_francais" name="verbe_francais" required>
                <label for="verbe_francais">Verbe Français :</label>
            </div>

            <div class="user-box">
                <input type="text" id="verbe_tifinagh" name="verbe_tifinagh" required>
                <label for="verbe_tifinagh">Verbe en Tifinagh :</label>
            </div>

            <div class="user-box">
                <input type="text" id="forme" name="forme" required>
                <label for="forme">Forme :</label>
            </div>

            <div class="user-box">
                <input type="text" id="R1" name="R1" required>
                <label for="R1">R1 :</label>
            </div>

            <div class="user-box">
                <input type="text" id="R2" name="R2">
                <label for="R2">R2 :</label>
            </div>

            <div class="user-box">
                <input type="text" id="R3" name="R3">
                <label for="R3">R3 :</label>
            </div>

            <div class="user-box">
                <input type="text" id="R4" name="R4">
                <label for="R4">R4 :</label>
            </div>

            <div class="user-box">
                <input type="text" id="R5" name="R5">
                <label for="R5">R5 :</label>
            </div>

            <div class="user-box">
                <input type="text" id="R6" name="R6">
                <label for="R6">R6 :</label>
            </div>

          <div class="user-box">
                <input type="text" id="R7" name="R7">
                <label for="R7">R7 :</label>
            </div>

            <div class="d-block mt-4 mx-auto btn btn-outline-light col-5">
                <button type="submit">Ajouter le verbe</button>
            </div>

      <input type="hidden" name="_token" value="{{ csrf_token('alimenter_verbes') }}">
        </form>
    </div>
{% endblock %}
